/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    /*ANIMATION*/
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    color: black;
}
/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
/*ANIMATIONS*/
@keyframes bgcolor {
    0% {
        background-color: #e39844;
    }

    25% {
        background-color: #d4c2ab;
    }

    50% {
        background-color: #e0f8be;
    }

    90% {
        background-color: #e0ebfd;
    }

    100% {
        background-color: #f4d1d3;
    }
}
@keyframes spancolor {
    0% {
        color: black;
    }
    50% {
        color:rgb(228, 52, 52);
    }
    100% {
        color: red;
    }
}
/*GLOBAL VARRIABLES*/
:root {
    --header-link-font-size: 1.2rem;
    --main-title-font-size: 1.8rem;
    --main-subtitle-font-size: 1.5rem;
    --main-font-text: 1.4rem;
    --footer-font-size: 1.1rem;
    --tile-font-size: 1rem;
}
/*MEDIA*/
@media(min-width:900px){
    :root {
        --main-font-text: 1.6rem;
    }
}
/*SHARED*/
.center-text {
    text-align: center;
}
.span-animation {
    font-weight: bold;
    color: rgb(228, 52, 52);
    -webkit-animation: spancolor 20s infinite;
    animation: spancolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.section-title {
    font-size: var(--main-title-font-size);
}
.section-subtitle {
    font-size: var(--main-subtitle-font-size);
}
.project-tile {
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
    background: rgba(29, 29, 29, 0.5);
    background-repeat: no-repeat;
    background-position: top;
    background-size:auto;
}
.project-tile a{
    text-decoration: none;
}
.tile-title {
    font-size: var(--tile-font-size);
    background: rgba(29, 29, 29, 0.7);
    position: relative;
    top: 182px;
    color: white;
}
/*HEADER*/
.header {
    display: flex;
    margin: 10px;
}
.header-nav-bar {
    justify-self: flex-end;
    margin-left: 5vw;
}
.header-nav-bar a{
    font-size: var(--header-link-font-size);
    color: black;
    margin-right: 5px;
}
.header-name-container img{
    display: block;
    position: relative;
    top: -5px;
    left: 0;
}
.header-name-image {
    width: 32px;
}
/*MAIN*/
.main {
    margin: 10px;
}
.main p {
    font-size: var(--main-font-text);
}
.welcome-section {
    padding-top: 30px;
    height: 20vh;
}
.projects-section {
    margin-top: 20px;
}
.projects-flexbox {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tile1 {
    background-image: url("../img/tribute_tile.png");
}
.tile2{
    background-image: url("../img/survey_tile.png");
    background-position: top left;
}
.tile3 {
    background-image: url("../img/paselys_tile.png");
    background-position: top center;
    background-size: contain;
}
/*CONTACT SECTION*/
.contact-subtitle {
    font-size: var(--header-link-font-size);
}
.contact-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}
.contact-bar img {
    width: 48px;
}
.contact-bar a {
    text-decoration: none;
    color: black;
    font-size: var(--tile-font-size);
    font-weight: bold;
}
/*FOOTER*/
.footer {
    margin: 10px;
    font-size: var(--footer-font-size);
}
