/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    /*ANIMATION*/
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    color: black;
}
/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
/*BODY BACKGROUND*/
@keyframes bgcolor {
    0% {
        background-color: #e39844;
    }

    25% {
        background-color: #d4c2ab;
    }

    50% {
        background-color: #e0f8be;
    }

    90% {
        background-color: #e0ebfd;
    }

    100% {
        background-color: #f4d1d3;
    }
}
/*GLOBAL VARRIABLES*/
:root {
    --header-link-font-size: 1.4rem;
    --main-title-font-size: 2.2rem;
    --main-subtitle-font-size: 1.8rem;
    --main-font-text: 1.4rem;
    --footer-font-size: 1.3rem;
}
/*MEDIA*/
@media(min-width:900px){
    :root {
        --main-font-text: 1.6rem;
    }
}
/*SHARED*/
.center-text {
    text-align: center;
}
/*HEADER*/
.header {
    display: flex;
    margin: 10px;
}
.header-nav-bar {
    justify-self: flex-end;
    margin-left: 5vw;
}
.header-nav-bar a{
    font-size: var(--header-link-font-size);
    color: black;
    margin-right: 5px;
}
.header-name-container img{
    display: block;
    position: relative;
    top: -5px;
    left: 0;
}
.header-name-image {
    width: 32px;
}
/*MAIN*/
.main {
    margin: 10px;
}
.main p {
    font-size: var(--main-font-text);
}
.welcome-section {
}
.welcome-section-title {
    font-size: var(--main-title-font-size);
}
.welcome-section span {
    font-weight: bold;
}
.welcome-section-subtitle {
    font-size: var(--main-subtitle-font-size);
}
/*FOOTER*/
.footer {
    margin: 10px;
    font-size: var(--footer-font-size);
}
